@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container{
    background-color: #ffffff;
    border-radius: 35px;
    max-width: 600px;
    height: 65vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 2px 7px -1px rgba(3,3,3,0.33);
    -moz-box-shadow: 0px 2px 7px -1px rgba(3,3,3,0.33);
    box-shadow: 0px 2px 7px -1px rgba(3,3,3,0.33);
   
}

.logopic{
    
    max-width: 130px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 350;
    margin: auto;
    z-index: 1;
}

.yb{
    background-color: #FADA5E;
    border-radius: 35px 0 0 35px;
    max-width: 250px;
    height: 65vh;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 350;
    margin: auto;
    

}

.loginform{
    position: absolute;
    top:50;
    bottom: 0;
    left: 300;
    right: 0;
    margin: auto;

}

.login{
    font-weight: 700;
    font-size:34px;
    position: relative;
    left: 70;
}

.form-control{
    font-weight: 300;
    font-size: 15px;
    color: #030303;
    max-width: 200px;
    position: relative;
    left: 20;
    border: 0;
    border-radius: 0;
    border-bottom: 1.5px solid #5e5e5e;
    outline: none;
}   

.form-control:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:hover{
    font-weight: 500;
}

.form-end{
    position: relative;
    left: 50;
    top: -30;

}

#submit{
    width: 200px;
    font-size: 15px;
    background-color: #FADA5E;
    border: none;
    border-radius: 35px;
    font-weight: 400;
    position: relative;
    left: 20;
    top: -20;
}

#submit:hover{
    background-color: #f4cc2a;
}

a:link{
    color: #030303;
    text-decoration:none;
}

a:hover span{
    font-weight: 400;
}

